* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 21px;
}

section,
h1,
p,
footer {
    margin: 21px 0;
}

article {
    padding-left: 7px;
}
