/*large*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    background-size: 2rem 2rem;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent 1px);
}
